@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Supply Chain Blockchain Traking System</h3>

<p>STCS is a Smart Contract framework to keep tracking of products from the raw materials to the shopping stage. This system is powered by the Ethereum Blockchain, so it's fully distributed, immutable and auditable.</p>
<h3>How's this done?</h3>
<p>
    Every Product in SCTS is represented in a Smart Contract, which keeps track of actions being made by Ethereum accounts. The community in charge of SCTS (could be a government, a consortium or even a DAO) can register this account as official SCTS Product Handlers, so their identity is stored in the Blockchain being impossible for fake producers or suppliers to cheat and sell products in the name of a registered Brand.
    Because of this, any costumer, government or regulatory institution can scan a QR code in the product packaging, which identifies the Smart Contract representing the exact unit of the Product, or even introduce the address of the Smart Contract, and be able to track and audit all the life of the Product.
    But there's more. Anyone will be also able to introduce the code of a SCTS Product Handler and see all the actions this individual or institution has performed on SCTS Products, empowering a more transparent and fair global economic system.
</p>
