@model SCTS.MvcClient.Models.SimpleResponse

<div>
    <h4>Test Identity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BC_Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BC_Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to Home</a>
</div>
