@model HandlerViewModel

<h4>HandlerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewHandler">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HandlerAddress" class="control-label"></label>
                <input asp-for="HandlerAddress" class="form-control" />
                <span asp-validation-for="HandlerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandlerName" class="control-label"></label>
                <input asp-for="HandlerName" class="form-control" />
                <span asp-validation-for="HandlerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInformation" class="control-label"></label>
                <input asp-for="AdditionalInformation" class="form-control" />
                <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

